/* Colors */

* {
    border-color: rgba(105, 105, 105, 0.4);

    background:     rgba(105, 105, 105, 0.3);
    selected-background: rgba(255, 255, 255, 0.5);

    foreground: #EEEEEE;
    selected-foreground: rgb(50,50,50);

}
