/* Copyright (C) 2020-2025 Aditya Shakya <adi1090x@gmail.com> */

/* Colors */

* {
    border-color: rgba(105, 105, 105, 0.4);
    background:     rgba(105, 105, 105, 0.3);
    foreground: #EEEEEE;
    selected-foreground: rgb(50,50,50);

}
