// ----- monitors -----
include "./monitors.kdl"



// ----- gestures -----

// Turning off hot-corners
gestures {
    hot-corners {
        off
    }
}



// ----- inputs -----
include "./input.kdl"



// ----- layout -----
include "./layout.kdl"



// ----- layer-rules -----
include "./layerrules.kdl"



// ----- spawn-at-startup -----

hotkey-overlay {
    skip-at-startup
}

include "./spawnatstartup.kdl"



// ----- environment -----

environment {
  XDG_CURRENT_DESKTOP "niri"
  QT_QPA_PLATFORM "wayland"
  ELECTRON_OZONE_PLATFORM_HINT "auto"
  QT_QPA_PLATFORMTHEME "qt6ct"
  QT_QPA_PLATFORMTHEME_QT6 "qt6ct"
  TERMINAL "foot"
}



// ----- animations -----
include "./animations.kdl"



// ----- window-rule -----
include "./windowrules.kdl"



// ----- binds -----
include "./binds.kdl"



// ----- debug -----
include "./debug.kdl"

// ----- extra settings -----

// Screenshot
screenshot-path "~/Pictures//%Y-%m-%d %H-%M-%S.png"

// Noctalia shell settings
include "./noctalia.kdl"
