layer-rule {
    match namespace="^quickshell$"
    place-within-backdrop true
}

layer-rule {
    match namespace="^wallpaper$"
    place-within-backdrop true
}

layer-rule {
  match namespace="^noctalia-overview*"
  place-within-backdrop true
}
