layout {

    focus-ring {
        active-color   "#5fdbba"
        inactive-color "#0a1519"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#5fdbba"
        inactive-color "#0a1519"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#5fdbba"
        inactive-color "#005141"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#5fdbba80"
    }
}

recent-windows {
    highlight {
        active-color "#5fdbba"
        urgent-color "#ffb4ab"
    }
}
