configuration {
    show-icons:     true;
    font:           "Jet Brains Mono 10";
    drun-display-format:         "{name}";
    window-format:               "{w}{t}";
    font:                        "JetBrainsMono Nerd Font 10";
}

@theme "quickmenutheme"
